@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
} */

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock {
    display: flex;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 2em;
    border-radius: 40px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
}

#clock div {
    position: relative;
    width: 60px;
    text-align: center;
    font-weight: 700;
    color: #445964;
}

#clock div:nth-child(1)::after,
#clock div:nth-child(2)::after{
    content: ':';
    position: absolute;
    right: -3px;
}

